#btn {
    margin-left: 10px;
    width: 100px;
}
.card {
    margin-top: 10px;
    margin-bottom: 30px;
}
#btngrp {
    display: flex;
    justify-content: center;
}
.jumbotron {
    margin-top: 10px;
}
.container {
    margin-top: 10px;
}
.img-fluid {
    width: 100%;
    height: 250px;
}
.btn-lg {
    width: 200px;
    margin: 5px 5px;
}